<nav>
  <ul class="mainbar">
    <li>
      <a href="/home">
        <img src="../../../assets/images/Logo%20Short%20Transparent.png" alt="Website logo">
      </a>
    </li>
    <li class="mainbarLi">
      <a href="/home">Home</a>
    </li>
    <li class="mainbarLi">
      <a href="/aboutme">About me</a>
    </li>
    <li class="mainbarLi">
      <a href="/projects">Projects</a>
    </li>
    <li class="mainbarLi">
      <a href="/console">Console</a>
    </li>
    <li (click)="toogleSidebar()" class="menuButton">
      <svg width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="4" rx="2" fill="#12F7D6"/>
        <rect y="14" width="40" height="4" rx="2" fill="#12F7D6"/>
        <rect y="28" width="40" height="4" rx="2" fill="#12F7D6"/>
      </svg>
    </li>
  </ul>
  <ul class="sidebar" [style.display]="openSidebar ? 'flex' : 'none'">
    <li (click)="toogleSidebar()" class="menuButton">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_126_315)">
          <path d="M2 2L38 38" stroke="#12F7D6" stroke-width="3" stroke-linecap="round"/>
          <path d="M2 38L38 2" stroke="#12F7D6" stroke-width="3" stroke-linecap="round"/>
        </g>
        <defs>c
          <clipPath id="clip0_126_315">
            <rect width="40" height="40" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </li>
    <li>
      <a href="/home">Home</a>
    </li>
    <li>
      <a href="/aboutme">About me</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/console">Console</a>
    </li>
  </ul>
</nav>
